$background-color: #4e4e4e;
$font-color: #dfdfdf;

body {
  height: 100%;
  background-color: $background-color;
  color: $font-color;
  margin: 0;
  padding: 0;
}

.nav-bar {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 30px;
  margin-bottom: 50px;
  background-color: white;
}

.logo {
  padding-left: 10px;
  color: black;
}

.l-column {
  position: relative;
  text-align: left;
  margin-top: 5px;
  margin-left: 10px;
}

.r-column {
  width: 50%;
  position: relative;
  float: right;
  text-align: right;
  margin-top: 5px;
  margin-right: 10px;
}

.sign-up {
  border-radius: 5px;
  background-color: red;
  padding-left: 5px;
  padding-right: 5px;
}

.log-in {
  border-radius: 5px;
  background-color: red;
  padding-left: 5px;
  padding-right: 5px;

}

div {
  display: inline-block;
  float: left;
}

.game-wrapper {
  border: solid #000000;
  height: 600px;
  width: 600px;
  margin-left: 25%;
  margin-right: 25%;
}

.r0c0 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}

.r0c1 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}

.r0c2 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}

.r1c0 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}

.r1c1 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}

.r1c2 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}

.r2c0 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}

.r2c1 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}

.r2c2 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}
