$background-color: #4e4e4e;
$font-color: #dfdfdf;

body {
  background-color: $background-color;
  color: $font-color;
}

div {
  display: inline-block;
  float: left;
}

.game-wrapper {
  border: solid #000000;
  height: 800px;
  width: 800px;
}

.r0c0 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}

.r0c1 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}

.r0c2 {
  width: 33%;
  height: 33%;
  border: 1px solid black;
}
