$background-color: #4e4e4e;
$font-color: #dfdfdf;

body {
  width: 100%;
  height: 100%;
  background-color: $background-color;
  color: $font-color;
  margin: 0;
  padding: 0;
}

.game-wrapper {
  margin-top: 100px;
  display: block;
  /*border: solid #000000;*/
  border-radius: 10px;
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.r0c0 {
  width: 33%;
  height: 33%;
  float: left;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.r0c1 {
  float: left;
  width: 33%;
  height: 33%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.r0c2 {
  float: left;
  width: 33%;
  height: 33%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.r1c0 {
  float: left;
  width: 33%;
  height: 33%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.r1c1 {
  float: left;
  width: 33%;
  height: 33%;
  border: 1px solid black;
}

.r1c2 {
  float: left;
  width: 33%;
  height: 33%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.r2c0 {
  float:left;
  width: 33%;
  height: 33%;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.r2c1 {
  float:left;
  width: 33%;
  height: 33%;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.r2c2 {
  float: left;
  width: 33%;
  height: 33%;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
